.aside {
  background-color: #003047;
  color: #fff;
}

.aside ul li {
  margin-bottom: 15px;
  border: 0;
  background-color: #003047;
}
.aside ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}

.list-group-item i {
  font-size: 24px;
}
#id_tbody i:hover {
  opacity: 0.7;
  cursor: pointer;
}
.dropdown-menu {
  left: -35px !important;
  width: 100px !important;
}
